.comment-item {
  margin-top: 6px;
}

.comment-level-1 {
  margin-left: 20px;
  border-left: 1px solid #eee;
  padding-left: 10px;
}

.comment-level-2 {
  margin-left: 20px;
  border-left: 1px dashed #ccc;
  padding-left: 10px;
}
