.recipe-detail-container {
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;

  .recipe-thumbnail {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .caption, .description {
    margin: 5px 0;
  }

  .recipe-meta {
    display: flex;
    gap: 20px;
    margin: 10px 0;
  }

  .ingredients h4 {
    text-transform: capitalize;
    margin: 10px 0 5px;
  }

  .guide .step {
    margin-bottom: 15px;
  }

  .step-media {
    width: 100%;
    margin-top: 5px;
    border-radius: 6px;
  }

  .tags {
    margin-top: 10px;
  }
}
